# VSCode -------------------------------------------------------

.vscode/

# --------------------------------------------------------------

# XCode --------------------------------------------------------

**.xcworkspace
**.xcodeproj

# --------------------------------------------------------------


# Building stuff -----------------------------------------------

/bin/
/bin-int/

# --------------------------------------------------------------

# -- gmake2 ----------------------------------------------------

Makefile
null.d

# --------------------------------------------------------------
